<p id="notice"><%= notice %></p>

<h1>List of Entries</h1>
<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.date.strftime("%a") %>
        <td><%= entry.date.strftime("%H:%M") %>
        <td><%= entry.note %></td>
        <td><%= link_to 'Show', entry, class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path, class: 'btn btn-success btn-md' %>
