<%= form_for(excercise) do |f| %>
  <% if excercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(excercise.errors.count, "error") %> prohibited this excercise from being saved:</h2>

      <ul>
      <% excercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="checkbox">
    <label>
    <%= f.check_box :long_walk %>
    <%= f.label :long_walk, class: 'checkbox'%>
    </label>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :short_walk %>
      <%= f.label :short_walk, class: 'checkbox' %>
    </label>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.datetime_select :time %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note, size: "50x5" %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success btn-md' %>
  </div>
<% end %>
