<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @excercise.time %>
</p>

<p>
  <strong>Note:</strong>
  <%= @excercise.note %>
</p>

<%= link_to 'Edit', edit_excercise_path(@excercise), class: 'btn btn-info btn-md' %>
<%= link_to 'Back To Excercises List', excercises_path, class: 'btn btn-info btn-md' %>
