<%= form_for(meal) do |f| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>
 <!--  <div class="field">
    <%= f.label :name %>
    <%= f.select :name, MealType.all.collect { |m| [m.name, m.name] } %>
  </div> -->
  <div class="field">
    <%= f.label :name %>
    <%= collection_select(:meal, :name, MealType.all, :name, :name, {}, {}) %>
  </div>
  <div style='display:inline'>
    <%= collection_check_boxes(:meal, :food_ids, @foods, :id, :food_name) do |b| %>
      <div class="row">
        <%= b.label(class: "check_box") do %>
          <div class="col-xs-1", style="display:inline">
            <%= b.check_box(class: "check_box") %>
          </div>
          <%= b.label %>
        <% end %>
      </div> 
    <% end %>
  </div>

    <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note,  size: '50X5' %>
  </div>

  <div class="actions">
    <%= f.submit  class: 'btn btn-success btn-md' %>
  </div>
<% end %>
