<p id="notice"><%= notice %></p>
<h2>Show Toilet Trip</h2>
<p>
  <strong>In:</strong>
  <%= @toilet.in %><br>

  <strong>Out:</strong>
  <%= @toilet.out %><br>

  <strong>Duration:</strong>
  <%= @toilet.duration_mins %><br>
</p>

<%= link_to 'Edit', edit_toilet_path(@toilet), class: 'btn btn-info btn-md' %> 
<%= link_to 'New Toilet', new_toilet_path, class: 'btn btn-success btn-md' %>
<%= link_to 'Back to Toilet Trips', toilets_path, class: 'btn btn-info btn-md' %>
<%= link_to 'Delete', toilet_path(@toilet), method: :delete, class: 'btn btn-danger btn-md' %>
